@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap');
:root{
    /*colors*/
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    /*fonts*/
    --font-size: 16px;
    --font-family: 'Figtree', sans-serif;
    --font-weights: 600;
    --font-weights2: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background-color: var(--Yellow);
  justify-content: center;
  align-items: center;
}

main{
  padding-left: 22px;
  border: 1px solid black;
  border-radius: 20px;
  width: 380px;
  height: 520px;
  display: grid;
  grid-template-rows: 220px 63px 40px 43px 90px 50px;
  grid-template-columns: 1fr;
  background-color: var(--White);
  box-shadow: 8px 10px 1px var(--Black);
}


.img-header {
  background-image: url(./assets/images/illustration-article.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 22px;
  margin-top: 22px;
  border-radius: 10px;
}

button{
  margin-top: 20px;
  width: 80px;
  height: 30px;
  background-color: var(--Yellow);
  border: hidden;
  border-radius: 5px;
  font-weight: var(--font-weights2);
}

h2:hover{
  color: var(--Yellow);
}

#p2{
  color: var(--Grey);
  line-height: 1.5;
  font-weight: 200;
}

footer > img{
  width: 33px;
  margin-top: 5px;
}

footer > p{
  margin-left: 45px;
  margin-top: -30px;
  font-weight: var(--font-weights2);
  font-size: 14px;
}

@media (max-width: 400px){
  main{
    width: 88%;
    height: 520px;
  }
  .img-header {
    width: 93%;
  }
}
